<a href="https://colab.research.google.com/github/gujjulasruthi19/AD/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Integer
a = 10
print(a, type(a))

10 <class 'int'>

In [2]:
#Float
b = 3.14
print(b, type(b))

3.14 <class 'float'>

In [3]:
#String
c = "Hello"
print(c, type(c))

Hello <class 'str'>

In [4]:
#Boolean
d = True
print(d, type(d))

True <class 'bool'>

In [5]:
# List
e = [1, 2, 3]
print(e, type(e))

[1, 2, 3] <class 'list'>

In [6]:
#Tuple
f = (10, 20)
print(f, type(f))

(10, 20) <class 'tuple'>

In [7]:
# Set
g = {1, 2, 3}
print(g, type(g))

{1, 2, 3} <class 'set'>

In [8]:
#Dictionary
h = {"name": "Sruthi", "age": 21}
print(h, type(h))

{'name': 'Sruthi', 'age': 21} <class 'dict'>

In [9]:
#Basic Python
x = 10
y = 25.5
name = "Sruthi"
is_student = True

In [10]:
#Multiple
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [11]:
#Same Value to Multiple
x = y = z = 100
print(x, y, z)

100 100 100

In [13]:
#Different Datatype
age = 21
height = 5.4
grade = 'A'
college = "ABC"

In [15]:
#Input
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name:", name)
print("Age:", age)

Enter your name: sruthi
Enter your age: 21
Name: sruthi
Age: 21